<div mat-dialog-title class="title">
    Credentials Form
</div>
<form [formGroup]="credForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="rows">
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <input matInput formControlName="category" required="true">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>App</mat-label>
                <input matInput formControlName="app" required="true">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="userName" required="true">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="encryptedPassword" required="true">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" type="button">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="form-buttons">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save' }}</button>
    </div>
</form>