.content {
    align-items: center;
}

.title {
    text-align: left;
}

.rows {
    display: grid;
    padding-top: 20px;

    mat-form-field {
        width: 100%;
    }
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    outline: 2px;
}

.save-btn {
    color: dodgerblue;
}